@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Pattaya|Roboto');

body{
  font: 400 16px/1.3 'Roboto', Arial, sans-serif;
  color: #000;
  background-color: #ECF0F5 ;
}

h1{
  position: absolute;
  left: -500000000000px;
}
#wrapper {
	width:100%;
	max-width: 800px;
	margin: 0 auto;
}

.wrapHF {
	width:100%;
	max-width: 1000px;
	margin: 0 auto;
}

/* header */
header{
  height: 150px;
  background-color: #577ba0;

}

header img{
  float: left;
  width: 8%;
  margin-left: 2%;
  margin-top: 2%;
  /* height: 100px; */
}

header .titre{
  float: left;
  font-size: 3em;
  width: 60%;
  margin: 50px 0 0 8%;
  text-align: center;
}

header .bienvenue{
  float: right;
  width: 15%;
  margin: 20px 2% 0 2%;
  /* background-color: ; */
}



header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #577ba0;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: red;
}

/* BODY */
/* P.INDEX */

.contenu{
  margin-left: -2%;
}
.sliders{
  width: 48%;
  float: left;
  margin-left: 2%;
  height: 400px;
  display: flex; /* contexte sur le parent*/
  flex-direction: column; /* direction d'affichage verticale */
  justify-content: center; /* alignement vertical */

}
.inscription{
  width: 48%;
  float: right;
  display: flex;
  /* height: 400px; */
  /* margin: 0 auto; */
}

h2{
  font-family: 'Pattaya', sans-serif;

}

/* P.INDEX */
/* SLIDERS */

@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

body { margin: 0; }
div #slider { overflow: hidden; }
div #slider figure img { width: 20%; float: left; }
div #slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite;
}


/* P.INDEX */
/* INSCRIPTION */

.inscription{
  float: right;

}

.login-page {
  width: 360px;
  margin: 10% auto;

}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input, .formulaire input, .formulaire textarea, .form .radio {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  font-size: 14px;
  resize: none;
}

.form .radio{
  display: flex;
}

.form .radio label, .form .radio input {
  margin: auto;
}

.form .button , .formulaire .button {
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form .button:hover,.form .button:active,.form .button:focus,
.formulaire .button:hover,.formulaire .button:active,.formulaire .button:focus {
  background: #43A047;
}
.form .message , .form .pwdoublie {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a , .form .pwdoublie a{
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

/* P.INDEX */
/* COMMENTAIRES */

.commentaires{
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  /* max-width: 360px; */
  /* margin: 0 auto 100px; */
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.comment-users .commentaires .commentaire{
  margin: 0 20px 0 20px;
  width: 20%;
}
.comment-users h2{
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 20px;
}

.comment-users .commentaires .commentaire p:first-child{
  color: #4CAF50;
  font-size: 1.3em;
  font-weight: bold;
  padding-bottom: 5px;
}

.comment-users .commentaires .commentaire p:last-child{
  color: #4CAF50;
  font-size: 0.7em;
}

/* P.CONTACT */
/* FORM CONTACT */
/* aussi dans index inscription */

.contact h2 , .modif_profil h2 {
  text-align: center;
  font-size: 2.5em;
  margin: 40px 0 40px 0;
}

/* P.mdpoublie */
/* dans .inscription */

/* P.mdpoublienew */
/* dans .inscription */


/* FOOTER */
/* Notre equipe */
footer{
  background-color: #d2d6cc;
}

footer h2 {
  text-align: center;
  font-size: 2em;
}

.photos {
	margin: 15px 25px 0 25px;
	padding: 0;
}
.photos:last-child {
	padding-bottom: 60px;
}
.photos::after {
	content: '';
	clear: both;
	display: block;
}
.photos div {
	position: relative;
	float: left;
	width: 200px;
	height: 150px;
	margin: 0 0 0 35px;
	padding: 0;
}
.photos div:first-child {
	margin-left: 0;
}
.photo {
	width: 200px;
	height: 150px;
	margin: 0;
	padding: 0;
	background: #F4F4F4;
	overflow: hidden;}

  .zoom div img {

  	transform: scale(1);
  	transition: .3s ease-in-out;
  }
  .zoom div:hover img {
  	transform: scale(1.3);
  }
/* FOOTER */
/* Legal */
.copyright{
  margin-top: 30px;
}

.copyright p{
  text-align: center;
}

/* 404 */
#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.notfound .notfound-404 {
  position: relative;
  height: 240px;
}

.notfound .notfound-404 h2 {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 252px;
  font-weight: 900;
  margin: 0px;
  color: #262626;
  text-transform: uppercase;
  letter-spacing: -40px;
  margin-left: -20px;
}

.notfound .notfound-404 h2>span {
  text-shadow: -8px 0px 0px #fff;
}

.notfound .notfound-404 h3 {
  font-family: 'Cabin', sans-serif;
  position: relative;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #262626;
  margin: 0px;
  letter-spacing: 3px;
  padding-left: 6px;
}

.notfound h4 {
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000;
  margin-top: 0px;
  margin-bottom: 25px;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,800);

body {
  font-family: 'Open Sans';
  font-size: 1.5em;
  background: #eee;
}

.content {
  width: 80%;
  padding: 20px;
  margin: 0 auto;
  padding: 0 60px 0 0;
}

.centerplease {
  margin: 0 auto;
  max-width: 270px;
  font-size: 60px;
}

.question {
  position: relative;
  background: #6b4848;
  margin: 0;
  padding: 10px 10px 10px 50px;
  display: block;
  width:100%;
  cursor: pointer;
}

.answers {
  background: #baabab;
  padding: 0px 15px;
  margin: 5px 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  position: relative;
  opacity: 0;
  -webkit-transition: .7s ease;
  -moz-transition: .7s ease;
  -o-transition: .7s ease;
  transition: .7s ease;
}

.questions:checked ~ .answers{
  height: auto;
  opacity: 1;
  padding: 15px;
}

.plus {
  position: absolute;
  margin-left: 10px;
  z-index: 5;
  font-size: 2em;
  line-height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.questions:checked ~ .plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.questions {
  display: none;
}

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 {
    height: 200px;
  }
  .notfound .notfound-404 h2 {
    font-size: 200px;
  }
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 {
    height: 162px;
  }
  .notfound .notfound-404 h2 {
    font-size: 162px;
    height: 150px;
    line-height: 162px;
  }
  .notfound h2 {
    font-size: 16px;
  }
}



.slicknav_menu {
  display:none;
}

@media screen and (max-width: 50em) {
  /* #menu is the original menu */
  #menu {
    display:none;
  }

  .slicknav_menu {
    display:block;
  }
}
@media (max-width : 480px) {
  header .titre{
    font-size: 1em;
  }
}
